.selectflags img {
  width: 40px !important;
  object-fit: contain;
}
.selectflags {
  height: 40px;
}
.selectflags .flag-icon-wrapper {
  display: flex;
  gap: 10px;
}

.ant-select-item-option-content img {
  width: 40px;
}

.ant-select-selection-item > div {
  display: flex;
  gap: 10px;
}
.ant-select-item-option-content > div {
  display: flex;
  gap: 10px;
}

.lang {
  margin-right: 40px;
}
